[CENTER][COLOR="#990099"][SIZE="5"][B]$dong1$[/B][/SIZE][/COLOR]
[COLOR="Silver"][SIZE="2"]----------------------[/SIZE][/COLOR]
[FONT="Times New Roman"][SIZE="5"][COLOR="SeaGreen"][CENTER][B]$dong2$[/B][/CENTER][/COLOR][/SIZE][/FONT]
[COLOR="Silver"][SIZE="3"]----o0o----[/SIZE][/COLOR]
[SIZE="3"][COLOR="royalblue"]$dong3$[/COLOR][/SIZE]
[SIZE="3"][I]Converter:[/I][COLOR="Blue"]thtgiang[/COLOR][/SIZE]
[I][COLOR="#F8F8F8"]Thời gian: $thoiGian$[/COLOR][/I]
[/CENTER]